section {
    background-color: #88c1d0;
}

@media screen and (min-width: 1600px) {
    body {
        display: flex;
        flex-direction: row;
    }
    section{
        width: 25%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }
    section{
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
    }
    section{
        width: 80%;
        margin: auto;
    }
}

